{% extends 'base.html'%}
{% load static %}
{% block title %}
 About us - Dave Milan
{% endblock title %}
{% block message %}
<section>
    <div class="container">
        <div class="text-center"><span><a href=""  class="text-dark">Home</a></span> > <span><a href="" class="text-dark">About us</a></span></div>
    </div>
</section>
<section class="mt-3 py-4">
    <div class="container">
        <div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Molestiae iure saepe enim tenetur eos velit beatae, recusandae, nemo nesciunt architecto illo perspiciatis, quis amet placeat! 
                 Veritatis ipsa natus sed ut.</div>
        </div>
    </div>
</section>
{% endblock message %}